/* Основные стили */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

/* Стили для контейнера */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Стили для шапки */
header {
  background-color: #d5b59c;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
.logo a:hover {
  color: #ad8762;
  transition: 0.5s;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover {
  color: #ad8762;
  transition: 0.5s;
}

.contact-info a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.5s;
}

.contact-info a:hover {
  color: #ad8762;
  transition: 0.5s;
}

/* Стили для главного баннера */
.main-banner {
  color: #ad8762;
  text-align: center;
  padding: 80px 0;
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-banner h1 {
  font-size: 36px;
  margin: 0;
  color: #ad8762;
}

.main-banner p {
  font-size: 18px;
  color: #000;
}

.cta-buttons {
  display: flex;
  justify-content: center;
}

.cta-button {
  border: none;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #d5b59c;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s;
}

.cta-button:hover {
  background-color: #ad8762;
  transition: 0.5s;
}

.product-image {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
}

.product-image img {
  height: 100%;
}

.product-image-text {
  text-align: justify;
}
/* Стили для формы обратной связи */
form {
  border-radius: 20px;
  border: solid #d5b59c;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: #000;
}

form p {
  margin: 0;
}

input {
  display: block;
  box-sizing: border-box;
  outline: none;
  height: 100%;
  width: 100%;
  border: solid #d5b59c;
  border-radius: 20px;
  padding: 5px 20px;
}
